* {
	background-color: cornsilk;
    width: 100%;
    text-align: center;
    margin: 0px;
}

body {
    max-width: 4000px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

h1, p, li {
    background-color: transparent;
}

ul {
    border: solid black 0.5px;
    list-style-type: none;
    padding: 0;
}

.selected {
    background-color: lightgray;
}

#top {

}

#top>p {
    /*line-height: 200px;*/
    font-size: 100px;
}

#left {
    width: 20%;
    position: relative;
    float: left;
}

#left ul li {
    height: 100px;
    line-height: 100px;
    display: block;
}

#left ul li:hover {
    background-color: lightgray;
}

#main {
    background-color: lightgray;
    width: 60%;
    position: relative;
    float: left;
    height: 1000px;
}

#right {
    width: 20%;
    position: relative;
    float: left;
}

#right ul {
    border: none;
    margin: 0px;
}

#right ul li {
    width: 50%;
    height: 200px;
    display: inline-block;
    position: relative;
    float: left;
}

#right .roundImg {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

