* {
	background-color: cornsilk;
    width: 100%;
    text-align: center;
    margin: 0px;
}

h1, p, li {
    background-color: transparent;
}

ul {
    border: solid black 0.5px;
    list-style-type: none;
    padding: 0;
}

ul li {
    height: 100px;
    line-height: 100px;
    display: block;
}

ul li:hover {
    background-color: red;
}

#top {
    background-image: url("../image/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 31%;
}

#top>p {
    /*line-height: 200px;*/
    font-size: 100px;
}

#left {
    width: 20%;
    position: relative;
    float: left;
}

#main {
    background-color: lightgray;
    width: 60%;
    position: relative;
    float: left;
    height: 1000px;
}

#right {
    width: 20%;
    position: relative;
    float: left;
}
